.cards{
    border-radius: 10px;
    background: salmon; 
}
.marcas{
    padding: .5rem;
    background: salmon;
    li{
        list-style: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
li{
    padding: .5rem;
    list-style: square;
    span{
        padding: .5rem;
    }
}
button{
    margin: .5rem;
}
.alto-precio{
    font-size: 1.2rem;
    color: rgb(24, 89, 163);
}
.bajo-precio{
    color: rgb(233, 75, 101);
}