<div class="container mt-3">
    <h3 class="mb-3">{{titulo}}</h3>
    <p>Añadir marca</p>
    <input type="text" [(ngModel)]="add_marca" (blur)="onBlur()">
    <button (click)="addMarca()">Alert Add marca</button>
    <button (click)="addMarcaPrint()">Add marca to the list</button>
    <p>{{add_marca}}</p>
    <input type="text" placeholder="evento keyUp" [(ngModel)]="miString" (keyup.enter)="mostrarTexto()">
    <p>Compra las zapatillas de las mejores marcas</p>
    <ul class="marcas">
        <li *ngFor="let marca of marcas">{{marca}}
            <button (click)="borrarMarca()">Eliminar marca</button>
        </li>
        
    </ul>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top"
                    src="http://www.deportesliverpool.es/blog/wp-content/uploads/2015/04/AIR-MAX-2015-Lateral.png"
                    alt="">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let deportiva of zapatillas">
                            {{deportiva.nombre}} - <strong [ngClass]="{'alto-precio': deportiva.precio >= 80, 'bajo-precio': deportiva.precio < 80}">{{deportiva.precio}}€ </strong>

                            <span *ngIf="deportiva.precio <= 80"
                                [style.background]="deportiva.precio < 80 ? 'pink' : 'transparent'"
                                [style.color]="deportiva.precio < 80 ? 'white' : 'black'">En oferta!</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8">
            <p>El color de la mayoría de nuestras zapatillas es: </p>
            <ul [ngSwitch]="color">
                <li *ngSwitchCase="'yellow'">
                    <p>Amarillo</p>
                </li>
                <li class="li-color" *ngSwitchCase="'white'">
                    <p>Blanco</p>
                </li>
            </ul>
        </div>
    </div>
</div>