<div class="my-2">
    <h2>{{tituloVideojuegos}}</h2>
    <ul>
        <li><a href="#">Super Mario</a></li>
        <li><a href="#">Prince of Persia</a></li>
        <li><a href="#">Medielvil</a></li>
    </ul>
</div>
