<!--The content below is only a placeholder and can be replaced.-->
<div class="my-2" [ngStyle]="{
                'background': color, 
                'padding': '20px', 
                'margin-bottom': '1rem'
                }">
  <h1>
    {{ title }}
  </h1>
  <h3>{{descripcion}}</h3>

  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">zapatillas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">videojuegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hooks']" [routerLinkActive]="['active']">hooks</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar con @angular
      </span>
    </div>
  </nav>
  <!-- Fin nav -->
</div>

<!-- <app-videojuego></app-videojuego>
<app-hooks *ngIf="Metodo"></app-hooks>
<app-zapatillas></app-zapatillas> -->


<router-outlet></router-outlet>
