<div class="hooks-container">
    <h2>{{titulo}}</h2>
    <button (click)="cambiarTitulo()">Cambiar título</button>
    <!-- Al cambiar el título se ejecutará el DoCheck, 
         es util por si queremos que una variables esté continuamente
         actualizandose.   
    -->
    <button>Ocultar Titulo</button>
</div>
